<%= form_for(@forum) do |f| %>
  <% if @forum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@forum.errors.count, "error") %> prohibited this forum from being saved:</h2>

      <ul>
      <% @forum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field input-field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field input-field">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: "materialize-textarea" %>
  </div>
  <div class="actions">
    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
      <i class="material-icons">send</i>
    </button>    
  </div>
<% end %>
